# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
  
  test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Create file at home
        run: echo "This is a Test!" >> ~/testfile.txt

  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: check file existance
        run: |
          if [ -z "$HOME" ]; then
            echo "Error: \$HOME variable is not set."
          elif [ -f "$HOME/testfile.txt" ]; then
            echo "Confirmed: testfile.txt exists in $HOME"
          else
            echo "File not found: testfile.txt is missing from $HOME"
          fi
      
